@media (max-width: 991px) {
  #mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
  }

  header.header-home .header-masterheading {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  header.header-home .header-subheading {
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 25px;
    font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  #mainNav .navbar-brand {
    color: #00cc00 !important;
    font-size: 1.5rem;
    font-weight: 700;
  }
}

@media (min-width: 992px) {
  #mainNav {
    background-color: transparent;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: none;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  }

  #mainNav.navbar-shrink {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
  }

  header.header-home .header-subheading {
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
    font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  header.header-home .header-masterheading {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  .navbar-brand {
    font-size: 2rem;
    font-weight: 700;
    color: #00cc00 !important;
    transition: font-size 0.3s ease-in-out;
  }

}

header.header-home {
  padding-top: 20rem;
  padding-bottom:20rem;
  color: #fff;
  text-align: center;
  background-image: url('../../assets/img/header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.page-section {
  padding: 6rem 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
}

.btn-lg {
  padding: 1.25rem 2.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 700;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.95rem;
  color: #fff;
  letter-spacing: 0.0625em;
}

.profile {
  text-align: center;
}

.profile img {
  width: 14rem;
  height: 14rem;
  border: 0.3rem solid rgba(0, 204, 0, 0.3);
}

.rounded-img {
  border-radius: 50%;
}

#mainNav .navbar-nav .nav-item .active {
  color: #00cc00 !important;
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
  color: #fff;
  background-color: #00b300;
  border-color: #00cc00;
  box-shadow: 0 0 0 0.2rem rgba(0, 204, 0, 0.3);
}

.btn:focus .btn.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 204, 0, 0.3);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #00b300;
  border-color: #00b300;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #00b300;
  border-color: #00b300;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 204, 0, 0.3);
}


.btn-primary {
  background-color: #00cc00;
  border-color: #00cc00;
}

::selection {
  background: #00b300;
  text-shadow: none;
  color: #fff;
}

body {
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn-social {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100%;
}

#mainNav.navbar-shrink .navbar-brand {
  font-size: 1.5rem;
}

#my-works .work-item {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}

#my-works .work-item .work-link {
  position: relative;
  display: block;
  margin: 0 auto;
}

#my-works .work-item .work-link .work-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 255, 0, 0.3);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}

#my-works .work-item .work-link .work-hover .work-hover-content{
  font-size: 1.25rem;
  color: #fff;
}

#my-works .work-item .work-link:hover .work-hover {
  opacity: 1;
}

#my-works .work-item .work-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
}

#my-works .work-item .work-caption .work-caption-heading {
  font-size: 1.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin-bottom: 0;
}

#my-works .work-item .work-caption .work-caption-subheading {
  font-style: italic;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#contact-me form textarea {
  height: 145px;
}

section#contact-me {
  background-image: url('../../assets/img/map-image.png');
  background-repeat: no-repeat;
  background-size: contain;
}

section#contact-me .form-group .form-control:focus {
  border-color: #00cc00; 
  box-shadow: none;
}

.footer {
  font-size: 0.9rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
}

.modal .modal-content {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.subheading {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}